.conteiner{
    text-align: center;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    
    margin: 10px;
    padding: 10px;

}

.caixa{
    width: 100%;
   
}

.vermelho{
    background-color: red;
    height: 100px;
}
.azul{
    background-color: blue;
    height: 100px;
}
.verde{
    background-color: green;
    height: 100px;
}

@media screen and (min-width:500px) {
    .vermelho{
        width: 25%;
    }
    .azul{
        width: 75%;
    }
    
}
@media screen and (min-width:600px){
    .azul{
        width: 50%;
    }
    .vermelho, .verde{
        width: 25%;
    }
    
}